body{
    background-color: #F2CC8F;
    display: flex;

}
#main{

    display: inline-block;
    margin: auto;
    padding: 10px;
    background-color: #81B29A;
    width: 500px;
    border-radius: 10px; 
}


#player img{
    width: 120px;
    height: 100px;
}
#cpuPlayer img{
    width: 120px;
    height: 100px;
}
