body{
    background-color: #F2CC8F;
}
#main{
    position: absolute;
    left: 35%;
    top: 20%;
    padding: 10px;
    background-color: #81B29A;
    width: 500px;
    border-radius: 10px; 
}


#player img{
    width: 120px;
    height: 100px;
}
#cpuPlayer img{
    width: 120px;
    height: 100px;
}
